h4::after {
  content: "";
  display: block;
  margin-left: 1.5cm;
  border-bottom: 1px solid black;
}

.name {
  padding-right: 1px;
}

.HeaderTable tr:nth-child(1) {
  background-color: silver;
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto; 
}

.box1 {
  padding: 0.3cm 1cm 1.3cm 1cm;
  margin: 1cm 4.5cm 2cm 4.5cm;
  border: solid 1px black;
}
